.header{
    width: 100%;
    height: 100px;
    background-color: dodgerblue;
}

h1{
    background-image: radial-gradient(black,blueviolet,darkslateblue,lawngreen);
    -webkit-background-clip: text;
    font-size: x-large;
    font-weight: bold;
    color: transparent;
    text-align: center;
    font-family: "Lucida Calligraphy"

}


.anchor{
    text-decoration:none;
    font-size:large;
    color:white;
    font-weight:400;
    padding:5px;

}